body {
  background-color: #ced8e4;
}

li {
  list-style: none;
}

.header {
  text-align: center;
}

.body__wrap {
  height: 560px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#list {
  margin-right: 8px;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

#list::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.list__item {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.item__status {
  flex: none;
  margin: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__status p {
  margin: 2px;
  font-size: 17px;
  font-weight: 600;
}

.item__status .status.reserved {
  color: #3bb94c;
}

.item__status .status.seated {
  color: #162149;
}

.item__details {
  flex-grow: 1;
}

.item__details li {
  margin: 7px 0px;
  font-size: 15px;
}

.reservation__button {
  flex: none;
  border-radius: 4px;
  width: 80px;
  height: 36px;
  font-size: 17px;
  margin: 0px 25px;
  cursor: pointer;
}

.reservation__button.reserved {
  background-color: #162149;
  color: #ffffff;
  border: 1px solid #162149;
}

.reservation__button.seated {
  background-color: #ffffff;
  color: #162149;
  border: 1px solid #162149;
}

#details {
  flex: none;
  width: 320px;
  height: 558px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#details.inactive {
  background-color: #ced8e4;
  border: 1px solid #ced8e4;
}

#details h3 {
  margin: auto;
}

.details__btn-close {
  display: none;
}

.detail {
  margin-bottom: 30px;
}

.reservation__wrap {
  display: flex;
  margin: 10px 0px;
}

.reservation__title {
  flex: none;
  color: #808080;
  margin: 0px 25px;
}

.reservation__value {
  display: inline-block;
  width: 185px;
}

.reservation__value.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reservation__value.three-line {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.dimmed.hide {
  display: none;
}

.dimmed.show {
  display: block;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 4px solid #333;
  border-top: 4px solid #7f7f7f;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.blank {
  background-color: #ced8e4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.blank.hide {
  display: none;
}

@media screen and (max-width: 1024px) {
  #list {
    margin: 0px;
  }

  .item__status {
    margin: 0px 10px;
    width: 55px;
    text-align: center;
  }

  .item__status p {
    font-size: 15px;
  }

  .item__details {
    padding: 0px;
  }

  .item__details li {
    font-size: 13px;
  }

  .reservation__button {
    width: 52px;
    height: 33px;
    font-size: 15px;
    margin: 0px 10px;
  }

  #details {
    position: fixed;
    width: 100%;
    height: 582px;
    left: 0;
    bottom: 0;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: flex-start;
    z-index: 2;
  }

  #details h3 {
    margin: 20px auto;
  }

  .slide-up {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .slide-up.show {
    transform: translateY(0);
    opacity: 1;
  }

  .details__btn-close {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    outline: none;
    background-color: #ffffff;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .reservation__wrap {
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .reservation__title {
    flex-grow: 1;
  }

  .reservation__value {
    margin: 0px 50px 0px 20px;
    flex-grow: 2;
  }

  .reservation__value.three-line {
    height: 62px;
  }
}
